
      body {
        background-image: url('https://wallpaperaccess.com/full/1177739.jpg');
        background-size: cover;
        background-repeat: no-repeat;
      }

h1 {
    text-align: center;
    display: block;
    padding-top: 40px;
    padding-bottom: 50px;
    color: rgb(222, 224, 235);
    font-family:'Brush Script MT', 'cursive', 'sans-serif';
}


p {
    display: inline-block;
    padding-top: 20px;
    padding-bottom: 20px;
    color: rgb(238, 238, 222);
    font-family:'Brush Script MT', 'cursive', 'sans-serif';  
    font-size: 32px;
}

body{
    background-color: rgb(31, 29, 29);
}


#carouselExampleInterval {
    max-width: 800px;
    max-height: 600px;;
    margin:auto;
}

.carousel-inner img{
    max-width: 1000px;
    max-height: 600px;
    border-radius: 55px;
    object-fit: contain;
}

.carousel-item {
    max-width: 100%;
    max-height: 100%;
}






